<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create a Fish</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <h1>Fish</h1>
    <% if(typeof(fishData) == 'undefined' ) { %>
        <form action="/fishes" method="post">
            Fish Name: <input type="text" name="name">
            Fish Length: <input type="text" name="length">
            <input type='submit' value='Submit!'>
        </form>
    <% } else { %>
        <form action="/fishes/edit/<%= fishData._id %>" method="post">
            Fish Name: <input type="text" name="name" value="<%= fishData.name %>">
            Fish Length: <input type="text" name="length" value="<%= fishData.length %>">
            <input type='submit' value='Submit!'>
        </form>
    <% } %>


    <form action='/' method='get'>
        <input type='submit' value='Show all Fish'>
    </form>
</body>
</html>